* {
    list-style-type: none;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Poppins";
}

.pointer {
    cursor: pointer;
}


/* 


//滾動條的寬度

 //滾動條凹槽的顏色，還可以設置邊框屬性 */

::-webkit-scrollbar-thumb {
    background: #c8c8c8;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.container {
    max-width: 1200px;
}

.none-border {
    border: 0px;
}

.navbar {
    /* background-color: blue; */
    height: 60px;
    margin: auto;
}

.bold-weight {
    font-weight: bold;
}

.content {
    background-color: #f0f3fb;
}

.main_color {
    color: white;
}

.main_bgcolor {
    background-color: white;
}

.parmary_bgcolor {
    background-color: #4260ff;
}

.parmary_color {
    color: #4260ff;
}

.third_bgcolor {
    background-color: rgb(235, 251, 255);
}

.Darty_color {
    color: #919191;
}

.box-shadow {
    box-shadow: 2px 3px 4px rgba(102, 102, 102, 0.76);
}

option {
    background: #fff;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.text-align-right {
    text-align: right;
}

.border-radius-m2 {
    border-radius: 50%;
}

.sm_pict {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.full_width {
    width: 100%;
}

.full_height {
    height: 100%;
}

.col-2 {
    width: 50%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.check_btn {
    width: 25px;
    height: 25px;
}

input,
select,
option {
    border: 0;
}


/* 樣式 */

.h1 {
    font-size: 32px;
}

.h2 {
    font-size: 28px;
}

.h3 {
    font-size: 24px;
}

.h4 {
    font-size: 20px;
}

.h5 {
    font-size: 1rem;
}

.display-a1 {
    font-size: 18px;
}

.display-a2 {
    font-size: 15px;
}

.border-a1 {
    border: 1px solid rgb(219, 219, 219);
}

.border-g1 {
    border-right: grey solid 1px;
}


/* 段落樣式 */

.pa-1 {
    padding: 5px;
}

.mx-1 {
    margin: 0 5px !important;
}

.ma-1 {
    margin: 5px!important;
}

.pa-2 {
    padding: 10px;
}

.ma-2 {
    margin: 10px!important;
}

.px-2,
.xx-px-2 {
    padding: 0 10px;
}

.mb-2 {
    margin-bottom: 10px;
}

.py-2 {
    padding: 10px 0;
}

.mx-2 {
    margin: 0 10px;
}

.pa-3 {
    padding: 15px;
}

.mx-3 {
    margin: 0 15px;
}

.py-3 {
    padding: 15px 0;
}

.px-3 {
    padding: 0 15px;
}

.pa-4 {
    padding: 20px;
}

.mx-4 {
    margin: 0 20px;
}

.my-4 {
    margin: 20px 0;
}

.px-4,
.xx-px-4 {
    padding: 0 20px;
}

.py-4 {
    padding: 20px 0;
}

.ma-6 {
    margin: 35px;
}

.py-6 {
    padding: 35px 0;
}

.mx-6 {
    margin: 0 35px;
}

.px-5 {
    padding: 0 35px;
}

.mx-5 {
    margin: 0 35px;
}

.pa-5 {
    padding: 25px;
}

.logo {
    font-size: 40px;
}

.border-radius {
    border-radius: 10px;
}

.border-radius-m1 {
    border-radius: 8px;
}

.justify-content-end {
    justify-content: flex-end;
}


/* 圓形 */

.round_color {
    padding: 10px;
    color: white;
    margin: auto;
    background-color: #6d4ade;
    border-radius: 10px;
}

.mark_color {
    background-color: #fb6a91;
}


/*  */

.search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(158, 158, 158);
}


/* hover */

.list-btn {
    min-width: 200px;
}

.list-btn:hover {
    box-sizing: content-box;
    color: #4260ff;
    border-right: 5px solid #4260ff;
}

.no-show {
    display: none;
}


/* index */

.select_menu {
    width: 80px;
}

.menu_search {
    width: 150px;
}

.main_menu {
    height: 75%;
    min-width: 220px;
}

.settings {
    padding: 6px;
    font-size: 40px;
    box-shadow: 0px 10px 10px 0px #cccccc;
}

.settings {
    position: fixed;
    right: 30px;
}

.fixed {
    position: fixed;
    top: 0
}

input,
button,
select,
option {
    height: 34px !important;
}

.xs-height {
    height: calc( 100vh - 60px);
    /* height: calc(var(--vh, 1vh) * 100);*/
    height: calc((var(--vh, 1vh)-(60/100)) * 100);
}

.overflow-y {
    overflow-y: scroll;
}

@media(max-width:1100px) {
    .min-height {
        height: calc(100vh - 60px - 20px - 25px);
        height: calc((var(--vh, 1vh)-(60+20+25)/100) * 100);
        /* min-height: 400px; */
    }
    * {
        font-size: 14px;
    }
    input,
    button,
    select,
    option {
        height: 30px !important;
    }
    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 25px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
    }
    .xx-px-2,
    .xx-px-4 {
        padding: 2px;
    }
    .h2,
    h2 {
        font-size: 18px;
    }
    .h4 {
        font-size: 16px;
    }
    .pa-4 {
        padding: 5px;
    }
    .xs-wrap {
        flex-wrap: wrap;
    }
    .xs-col-1 {
        padding: 5px 0;
        width: 100%;
    }
    .xs-col-2 {
        width: 50%;
    }
    .xs-noshow {
        display: none;
        width: 0;
    }
    .xs-show {
        display: block;
    }
    .xs-noborder {
        border: none;
    }
    .main_menu {
        min-width: calc(100vw - 60px);
    }
    .xs-nomx-3,
    .xs-nomx-5 {
        margin: 0px;
    }
    .xs-nopx-5 {
        padding: 0 0 0 15px;
    }
    .xs-nopa-2,
    .xs-nopa-3 {
        padding: 5px;
    }
    .select_menu {
        width: 25%;
    }
    .menu_search {
        width: 65%;
        max-width: 150px;
    }
    .xs-display-1 {
        margin-right: 5px;
    }
    .overflow-item {
        /* min-width: 100px; */
        overflow-y: scroll;
    }
    .xs-flex-nowrap {
        flex-wrap: nowrap;
    }
    .xs-height {
        height: calc( 100vh - 60px - 35px);
        height: calc((var(--vh, 1vh)-(60+35)/100) * 100);
    }
    .main-height {
        /* max-height: 200px; */
        max-height: calc(100vh - 60px - 6px);
        max-height: calc((var(--vh, 1vh)-(60+2)/100) * 100);
        /* max-height: calc(var(--vh, 1vh) * 100); */
        /* height: calc(100vh - 2px - 60px); */
    }
}